<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <section>
            <h3>POST</h3>
            <form id="new-post-form" method="POST">
               <textarea name="content" cols="30" rows="4"></textarea> 
               <input type="submit" value="post">
            </form>
        </section>
    </body>
</html>