<h1>
    Sign-Up-form
</h1>   
    <form action="/users/create" method="post">
        <input type="text" name="name" placeholder="User_name">
        <input type="text" name="email" placeholder="User_email">
        <input type="password" name="password" placeholder="User_password">
        <input type="password" name="confirm_password" placeholder="password">
        <input type="submit" value="Sign-Up">
    </form>
