<section>
<link rel="stylesheet" href="/css/sign_in.css" />
<section id="sign_in">
<h1 >Sign In</h1>

<form id="sign_in_form" action="/users/create-session" method="POST">
    <input type="email" name="email" size="50" placeholder="Email..."  required>
    <br>
    <input type="password" name="password" size="50" placeholder="Password..."  required>
    <br>
    <input type="submit" value="Sign In">
    <br>
</form>
<section>
    <a href="/users/auth/google"><h3>Continue with Google</h3></a>
</section>
</section>
