#a{
    
    font-weight: bold;
    ul{
        li{
            text-decoration: none;
            list-style-type: none;
            font-size: large;
            color:gray;
            :hover {
            color: rgb(237, 93, 93);
}
        }
    }
}