
#home-container{
    
    display: flex;
    #feed-posts{
        width: 70%;
        padding: 10px;
        background-image: url('../images/bg-9.jpg');
     background-repeat: no-repeat;
  background-attachment: fixed;
    }
    #user-friends{
        width: 30%;
        padding: 20px;
        border-left: 2px solid rgb(241, 225, 225);
        height: 100vh;
        background-color: rgb(204, 202, 202);
    }
}