body{
    /* text-align: center; */
    #layout-main{
        margin-top: -10px;
        height: 80%;
    }
    header{
        ul{
            background-color:rgb(97, 200, 235);
            display: flex;
            text-align: center;
            justify-content: end;
            li{
                margin: 30px;
            }
        }
    }
}

