body{
    /* text-align: center; */
    #layout-main{
        margin-top: -10px;
        height: 80%;
    }
    header{
         background-image: url('../images/bg-1.jpg');
        ul{
            
            display: flex;
            text-align: center;
            justify-content: end;
            li{
                margin: 24px;
            }
        }
    }
}

