#home-container {
  display: flex; }
  #home-container #feed-posts {
    width: 70%;
    padding: 10px;
    background-image: url("../images/bg-9.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; }
  #home-container #user-friends {
    width: 30%;
    padding: 20px;
    border-left: 2px solid #f1e1e1;
    height: 100vh;
    background-color: #cccaca; }
