body {
  margin: 0;
  /* text-align: center; */ }
  body #layout-main {
    height: 80%; }
  body header ul {
    background-color: lightblue;
    display: flex;
    text-align: center;
    justify-content: end; }
    body header ul li {
      margin: 20px; }
